@charset "UTF-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c4c4c498;
    height: 100vh;
    overflow-x: hidden;
}

canvas {
    display: block;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
}

#homePage {
    height: 100vh;
}

.mainName {
    width: 1920px;
    width: 100%;
    height: 100vh;
    top: 0;
    /* margin-top: 280px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.mainName h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #E31B6D;
    font-weight: 1000;
    line-height: 50px;
}

.mainName h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
    line-height: 35px
}

.mainName button {
    width: 200px;
    height: 50px;
    border-color: #E31B6D;
    background-color: #b4507a00;
    border-style: solid;
    border-width: 2px;
    margin-top: 40px;
    cursor: pointer;
}

.mainName button a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.mainName button:hover {
    font-family: 'Poppins', sans-serif;
    border-color: #E31B6D;
    background-color: #E31B6D;
    transition: 0.5s;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;
}

#mainNav {
    z-index: 100;
    position: absolute;
}

#mainNav ul {
    position: absolute;
    position: fixed;
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(25, 28, 36, 0.856);
    width: 100%;
}

#mainNav li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
}

#mainNav li a.active {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #E31B6D;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-weight: 400;
    transition: 0.8s;
}

#mainNav li a:hover {
    color: #ff519a;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.sticky {
    top: 0;
    position: fixed;
    width: 100%;
}

#openButton {
    z-index: 150;
    position: fixed;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    padding: 10px 15px;
    border: none;
}

#openButton:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
}

.aboutParent {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutSectionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSectionOne h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #A92061;
    font-weight: 1000;
    text-align: center;
    line-height: 80px;
}

.aboutSectionOne p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 1000;
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
}

.aboutSectionOne img {
    width: 100%;
    padding-top: 60px;
}

.aboutSectionOne button {
    width: 200px;
    width: 50%;
    height: 50px;
    border-color: #E31B6D;
    background-color: #b4507a00;
    border-style: solid;
    border-width: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.aboutSectionOne button a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.aboutSectionOne button:hover {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    width: 50%;
    height: 50px;
    border-color: #E31B6D;
    background-color: #E31B6D;
    transition: 0.5s;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    font-size: 18px;
}

.aboutSectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSectionTwo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #A92061;
    font-weight: 1000;
    text-align: center;
    line-height: 80px;
}

.aboutSubSectionOne {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.fronEndDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #A92061;
    font-weight: 1000;
    width: 100%;
}

.fronEndDev p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 1000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.dataDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #A92061;
    font-weight: 1000;
    width: 100%;
}

.dataDev p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 1000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.aboutSubSectionTwo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.backEndDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #A92061;
    font-weight: 1000;
    line-height: 20px;
    padding-top: 30px;
    padding-bottom: 35px;
    width: 100%;
}

.backEndDev p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 1000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.creativeDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #A92061;
    font-weight: 1000;
    width: 100%;
}

.creativeDev p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 1000;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

#workPage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workFlex {
    margin-right: -10px;
}

.workFlex h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #A92061;
    text-align: center;
    font-weight: 1000;
    line-height: 80px;
    padding: 50px;
}

.workSectionOne img {
    width: 300px;
    height: 220px;
    position: absolute;
    margin-top: -220px;
}

.workSectionTwo img {
    width: 300px;
    height: 220px;
    position: absolute;
    margin-top: -220px;
}

.overlay {
    width: 300px;
    height: 220px;
    background-color: #ffffff00;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 40px;
    font-weight: 800;
    position: relative;
}

.overlay:hover {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    width: 300px;
    height: 220px;
    transition: 0.2s;
    cursor: pointer;
    background-color: #a92060ec;
    /* margin-right: -650px; */
}

.formParent {
    background-color: rgb(37, 41, 52);
    margin-top: 50px;
}

#formPage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formParent h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #A92061;
    font-weight: 1000;
    text-align: center;
    line-height: 80px;
}

label {
    font-family: 'Poppins', sans-serif;
    color: #A92061;
    font-size: 15px;
    font-weight: 700;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 0px solid rgb(24, 29, 36);
    background-color: rgb(24, 29, 36);
    border-radius: 4px;
    box-sizing: border-box;
}

input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

input[type=submit] {
    width: 100%;
    border-color: #E31B6D;
    background-color: #b4507a00;
    border-style: solid;
    color: rgb(255, 255, 255);
    border-width: 2px;
    margin-top: 40px;
    cursor: pointer;
    padding: 15px 55px;
    font-size: 15px;
}

input[type=submit]:hover {
    border-color: #E31B6D;
    background-color: #E31B6D;
    transition: 0.5s;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    margin-top: 40px;
    font-size: 15px;
    padding: 15px 55px;
}

#submit text {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 15px;
}