@charset "UTF-8";

/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background-color: #c4c4c498;
    height: 5000px;
    overflow-x: hidden;
}

.homePage {
    position: absolute;
}

.backgroundAnimation {
    position: relative;
    z-index: -1;
}

.mainName h3 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 60px;
    color: #E31B6D;
    font-weight: 1000;
    padding-top: 80px;
    padding-left: 160px;
    top: 200px;
    line-height: 80px;
}

.mainName h4 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    padding-top: 80px;
    padding-left: 160px;
    top: 390px;
    width: 600px;
}

.mainName button {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 200px;
    height: 50px;
    /* border: #E31B6D; */
    border-color: #E31B6D;
    background-color: #b4507a00;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    margin-top: 550px;
    margin-left: 160px;
    font-size: 18px;
}

.mainName button:hover {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 200px;
    height: 50px;
    /* border: #E31B6D; */
    border-color: #E31B6D;
    background-color: #E31B6D;
    /* background-color: #b4507a00; */
    transition: 0.5s;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    margin-top: 550px;
    margin-left: 160px;
    font-size: 18px;
}

.mainNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 200px;
    overflow: hidden;
    background-color: rgb(25, 28, 36);
    position: -webkit-sticky;
    /* Safari */
    position: absolute;
    width: 1920px;
    margin-top: 955px;
}

.mainNav li {
    float: right;
}

.mainNav li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
    font-weight: 400;
}

.mainNav li a:hover {
    color: #ff519a;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}

.aboutPage {
    position: absolute;
    top: 1100px;
    /* margin-top: 955px; */
    display: flex;
    flex-direction: row;
}

.aboutSectionOne h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #A92061;
    font-weight: 1000;
    padding-left: 160px;
    line-height: 80px;
}

.aboutSectionOne p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 1000;
    padding-left: 160px;
    line-height: 30px;
    width: 800px;
    padding-top: 30px;
}

.aboutSectionOne img {
    width: 350px;
    margin-left: 280px;
    padding-top: 60px;
}

.aboutSectionTwo {
    display: flex;
    flex-direction: column;
}

.aboutSectionTwo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #A92061;
    font-weight: 1000;
    padding-left: 160px;
    line-height: 80px;
}

.aboutSubSectionOne {
    display: flex;
    flex-direction: row;
}

.fronEndDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #A92061;
    font-weight: 1000;
    padding-left: 160px;
    width: 570px;
    /* line-height: 80px; */
}

.fronEndDev li {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 1000;
    padding-left: 160px;
    width: 570px;
    padding-bottom: 10px;
    /* line-height: 80px; */
}

.dataDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #A92061;
    font-weight: 1000;
    padding-left: 160px;
    width: 480px;
    /* line-height: 80px; */
}

.dataDev li {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 1000;
    padding-left: 160px;
    width: 570px;
    padding-bottom: 10px;
    /* line-height: 80px; */
}

.aboutSubSectionTwo {
    display: flex;
    flex-direction: row;
}

.backEndDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #A92061;
    font-weight: 1000;
    padding-left: 160px;
    width: 570px;
    /* line-height: 80px; */
}

.backEndDev li {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 1000;
    padding-left: 160px;
    width: 570px;
    padding-bottom: 10px;
    /* line-height: 80px; */
}

.creativeDev h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #A92061;
    font-weight: 1000;
    padding-left: 160px;
    width: 480px;
    /* line-height: 80px; */
}

.creativeDev li {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 1000;
    padding-left: 160px;
    width: 570px;
    padding-bottom: 10px;
    /* line-height: 80px; */
}