@media screen and (min-width: 800px) {
    canvas {
        display: block;
        width: 100%;
        position: absolute;
        z-index: -10;
        top: 0;
        left: 0;
        height: 100vh;
    }
    .mainName {
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        padding-left: 100px;
        padding-right: 100px;
    }
    .mainName h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: #E31B6D;
        font-weight: 800;
        line-height: 50px;
        width: 1920px;
        text-align: left;
        padding-left: 500px;
    }
    .mainName h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        color: #ffffff;
        font-weight: 500;
        line-height: 50px;
        width: 1920px;
        text-align: left;
        padding-left: 500px;
    }
    .mainName button {
        width: 200px;
        height: 50px;
        border-color: #E31B6D;
        background-color: #b4507a00;
        border-style: solid;
        border-width: 2px;
        margin-top: 40px;
        cursor: pointer;
        margin-right: 715px;
    }
    .mainName button a {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
    }
    .mainName button:hover {
        font-family: 'Poppins', sans-serif;
        border-color: #E31B6D;
        transition: 0.5s;
        color: #ffffff;
        border-style: solid;
        border-width: 2px;
        font-size: 18px;
    }
    #mainNav {
        z-index: 100;
    }
    #mainNav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-right: 200px;
        overflow: hidden;
        background-color: rgb(25, 28, 36);
        /* position: absolute; */
        width: 100%;
    }
    #mainNav li {
        float: right;
    }
    #mainNav li a {
        font-family: 'Poppins', sans-serif;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 35px;
        text-decoration: none;
        font-weight: 400;
        cursor: pointer;
    }
    #mainNav li a.active {
        font-family: 'Poppins', sans-serif;
        display: block;
        color: #E31B6D;
        text-align: center;
        padding: 14px 35px;
        text-decoration: none;
        font-weight: 400;
        transition: 0.8s;
    }
    #mainNav li a:hover {
        color: #ff519a;
        font-family: 'Poppins', sans-serif;
        transition: 0.3s;
    }
    .sticky {
        top: 0;
        position: fixed;
        width: 100%;
    }
    #openButton {
        display: none;
    }
    .aboutParent {
        margin-top: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #aboutPage {
        display: flex;
        flex-direction: row;
        width: 1300px;
        padding-left: 75px;
        padding-right: 50px;
    }
    .aboutSectionOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 600px;
        padding-right: 50px;
    }
    .aboutSectionOne h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: #A92061;
        font-weight: 800;
        text-align: center;
        line-height: 80px;
    }
    .aboutSectionOne p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 800;
        line-height: 30px;
        padding-top: 30px;
        text-align: center;
    }
    .aboutSectionOne img {
        width: 350px;
        padding-top: 60px;
    }
    .aboutSectionOne button {
        width: 200px;
        width: 50%;
        height: 50px;
        border-color: #E31B6D;
        background-color: #b4507a00;
        border-style: solid;
        border-width: 2px;
        margin-top: 50px;
        margin-bottom: 50px;
        cursor: pointer;
    }
    .aboutSectionOne button a {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-decoration: none;
        font-weight: 600;
        color: #000000;
    }
    .aboutSectionOne button:hover {
        font-family: 'Poppins', sans-serif;
        width: 200px;
        width: 50%;
        height: 50px;
        border-color: #E31B6D;
        transition: 0.5s;
        color: #ffffff;
        border-style: solid;
        border-width: 2px;
        font-size: 18px;
    }
    .aboutSectionTwo {
        height: 760px;
        /* margin-top: -80px; */
        padding-left: 50px;
    }
    .skills {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 600px;
        /* height: 760px; */
    }
    .aboutSectionTwo h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: #A92061;
        font-weight: 800;
        text-align: center;
        line-height: 80px;
    }
    .aboutSubSectionOne {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .fronEndDev h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #A92061;
        font-weight: 800;
        width: 100%;
    }
    .fronEndDev p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 800;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .dataDev h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #A92061;
        font-weight: 800;
        width: 100%;
    }
    .dataDev p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 800;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .aboutSubSectionTwo {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .backEndDev h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #A92061;
        font-weight: 800;
        line-height: 20px;
        padding-top: 30px;
        padding-bottom: 35px;
        width: 100%;
    }
    .backEndDev p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 800;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .creativeDev h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #A92061;
        font-weight: 800;
        width: 100%;
    }
    .creativeDev p {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        color: #000000;
        font-weight: 800;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
    .workParent h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        color: #A92061;
        font-weight: 800;
        text-align: center;
        line-height: 80px;
    }
    #workPage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* width: 100vh; */
    }
    #workFlex {
        display: flex;
        flex-direction: column;
    }
    #workSectionOne {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #workSectionTwo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #workSectionOne img {
        width: 500px;
        height: 380px;
    }
    #workSectionTwo img {
        width: 500px;
        height: 380px;
    }
    #overlayOne {
        width: 500px;
        height: 380px;
        position: absolute;
        margin-right: 500px;
        z-index: 1;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        line-height: 40px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
    #overlayOne:hover {
        width: 500px;
        height: 380px;
        position: absolute;
        color: white;
        background-color: #a92060ec;
        transition: 0.3s;
    }
    #overlayTwo {
        width: 500px;
        height: 380px;
        position: absolute;
        margin-left: 500px;
        z-index: 1;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        line-height: 40px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
    #overlayTwo:hover {
        width: 500px;
        height: 380px;
        position: absolute;
        color: white;
        background-color: #a92060ec;
        transition: 0.3s;
    }
    #overlayThree {
        width: 500px;
        height: 380px;
        position: absolute;
        margin-right: 500px;
        z-index: 1;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        line-height: 40px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
    #overlayThree:hover {
        width: 500px;
        height: 380px;
        position: absolute;
        color: white;
        background-color: #a92060ec;
        transition: 0.3s;
    }
    #overlayFour {
        width: 500px;
        height: 380px;
        position: absolute;
        margin-left: 500px;
        z-index: 1;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        line-height: 40px;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0);
        cursor: pointer;
    }
    #overlayFour:hover {
        width: 500px;
        height: 380px;
        position: absolute;
        color: white;
        background-color: #a92060ec;
        transition: 0.3s;
    }
    #formPage {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formParent h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: #A92061;
        font-weight: 800;
        text-align: center;
        line-height: 80px;
    }
    label {
        font-family: 'Poppins', sans-serif;
        color: #A92061;
        font-size: 15px;
        font-weight: 700;
    }
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        background-color: rgb(24, 29, 36);
        border-radius: 4px;
        box-sizing: border-box;
    }
    input::placeholder {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        color: rgb(194, 194, 194);
    }
    input[type=submit] {
        width: 100%;
        border-color: #E31B6D;
        background-color: #b4507a00;
        border-style: solid;
        color: rgb(255, 255, 255);
        border-width: 2px;
        margin-top: 40px;
        cursor: pointer;
        padding: 15px 55px;
        font-size: 15px;
    }
    input[type=submit]:hover {
        border-color: #E31B6D;
        transition: 0.5s;
        color: #ffffff;
        border-style: solid;
        border-width: 2px;
        margin-top: 40px;
        font-size: 15px;
        padding: 15px 55px;
    }
    #submit text {
        font-family: 'Poppins', sans-serif;
        color: #ffffff;
        font-size: 15px;
    }
}